/* rectangle1 */
.rectangle1 {
  background-image: url("https://res.cloudinary.com/dn2xrrll5/image/upload/v1706876764/Rectangle_19290_pf0auj.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 650px;
  flex-shrink: 0;
  padding-top: 5%;
}
header {
  display: flex;
  gap: 3%;
  justify-content: center;
  align-items: center;
}
#logo {
  width: 9rem;

  flex-shrink: 0;
}

nav a {
  color: #fff;
  font-family: Circular Std;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  margin-right: 15px;
}
#about {
  border-bottom: solid 2px #df6951;
  padding-bottom: 3px;
}
.signin {
  background-color: #df6951 !important;
  color: white !important;
}
.title {
  margin-top: 20%;
  margin-bottom: 20%;
}
#read {
  /* margin-left: 100px; */
  margin-bottom: -70px;
  color: #ffefec;
  font-family: Poppins;
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title h1 {
  color: #fff;
  font-family: Yesteryear;
  font-size: 75px;
  font-style: normal;
  font-weight: 400;
  line-height: 223.678px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* rectangle2 */
.context {
  background: #fff;
  padding-top: 15%;
}
#promotion {
  color: #df6951;
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#provide {
  width: 90%;
  flex-shrink: 0;
  color: #181e4b;
  font-family: Volkhov;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
#labore {
  width: 70%;
  flex-shrink: 0;
  color: var(--black, #000);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.context button {
  color: var(--white, #fff);
  text-align: center;
  font-family: Poppins;
  font-size: 16.716px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  width: 170px;
  height: 50px;
  padding: 0px 36.566px 9.403px 0px;
  justify-content: center;
  align-items: center;
  gap: 10.447px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #df6951;
  box-shadow: 0px 20px 35px 0px rgba(223, 105, 81, 0.15);
}
.eclipse {
  background-image: url("https://res.cloudinary.com/dn2xrrll5/image/upload/v1706876755/slash_qhz0xl.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 230px;
  padding-left: 100px;
  padding-top: 100px;
  padding-right: 100px;
  flex-shrink: 0;
}
.eclipse div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -60px;
}
#eclipse {
  position: absolute;
  width: 220px;
  height: 220px;
}
#beach {
  position: relative;
  width: 200px;
  height: 200px;
  flex-shrink: 0;
}
.rectangle2 {
  padding-top: 10%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* rectangle3 */

.rectangle3 {
  background-image: url("https://res.cloudinary.com/dn2xrrll5/image/upload/v1706876754/bg3_ie6ihd.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  flex-shrink: 0;
}
.wonderlust p {
  color: #fff;
  font-family: Yesteryear;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 200px;
  position: absolute;
}
.wonderlust {
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  padding-top: 300px;
}
#play {
  position: relative;
}

/* rectangle4 */

.rectangle4 {
  display: flex;
  margin-top: 5%;
  padding-bottom: 2%;
  width: 100%;
}
#paris {
  width: 15rem;
}
.plans {
  width: 40%;
  margin-top: 10%;
  margin-left: 10%;
}
.plans h4 {
  color: #df6951;
  font-family: Poppins;
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
.plans h2 {
  color: #181e4b;
  font-family: Volkhov;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 71.042px;
}
.plans h6 {
  color: var(--black, #000);
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
#circle {
  position: absolute;
  width: 4rem;
  height: 4rem;
}
#percent {
  position: absolute;
  width: 4rem;
  height: 4rem;
}
.stats {
  width: 5rem;
  height: 5rem;
}

.stats h5 {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 29px;
  color: #525252;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#fifty {
  position: absolute;
  width: 1.7rem;
  margin-left: 40px;
}
#thirty {
  position: absolute;
  width: 1.7rem;
  margin-left: 41px;
}
.recstats h3 {
  color: #181e4b;
  font-family: Poppins;
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
.recstats {
  display: flex;
  gap: 3%;
}
#pearls {
  width: 20rem;
}

/* rectangle5 */
.rectangle5 {
  width: 100%;
}
#explore {
  color: #df6951;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
#packages {
  color: #181e4b;
  font-family: Volkhov;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#effect {
  width: 200px;
  height: 200px;
}

#city {
  margin-left: 20px;
  margin-top: -30px;
  position: absolute;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#price {
  position: absolute;
  margin-left: 160px;
  margin-top: -30px;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.singlep {
  background-size: 200px;
  height: 410px;
  margin: 5px;
  margin-top: 15px;
}
.singlep #effect {
  width: 200px;
  height: 410px;
}
.singlep #rio {
  margin-left: 20px;
  margin-top: -30px;
  position: absolute;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.singlep #h6 {
  position: absolute;
  margin-left: 160px;
  margin-top: -30px;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.pictures1 {
  margin: 5px;
}
.pictures1 div {
  margin: 10px;
}
.parentcontainer {
  display: flex;
}

.parentcontainer2 {
  display: flex;
  margin-top: 15px;
}
.parentcontainer2 div {
  margin: 0px 12.5px;
}
.pictures {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* rectangle 6 */
.rectangle6 {
  background-image: url("https://res.cloudinary.com/dn2xrrll5/image/upload/v1706876742/h1-background-img-1_1_z7usyq.png");
  background-repeat: no-repeat;
  flex-shrink: 0;
  background-size: 100%;
  height: 450px;
  padding-top: 80px;
  position: relative;
}
.rectangle6 h5 {
  color: #df6951;
  text-align: center;
  font-family: Poppins;
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
.rectangle6 h1 {
  width: 40%;
  flex-shrink: 0;
  color: #181e4b;
  text-align: center;
  font-family: Volkhov;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
}
.h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#testimonyimage {
  width: 30%;
}
.testimony {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.travel {
  width: 20%;
  position: relative;
  margin-top: -175px;
}
#travel {
  width: 20rem;
}

/* footer */
.footer {
  /* gap: 0.2%; */
  margin-top: 25%;
  margin-bottom: 20px;
  width: 100%;
}
.line1 {
  padding-left: 8%;
}
#logo2 {
  width: 13rem;
}
.logo2 h6 {
  width: 200px;
  color: #757095;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.32px;
}
.media img {
  padding: 5px;
}
.footer h3 {
  color: #181433;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.footer h5 {
  color: #181433;
  font-family: Manrope;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
#will {
  color: #181433;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.32px;
  opacity: 0.5;
  margin-top: -20px;
}
#form {
  height: 90px;
  width: 300px;
}
#mountain {
  width: 400px;
  height: 300px;
}
.longline {
  position: relative;
  margin-top: -80px;
  margin-left: 220px;
  width: 800px;
}
#longline {
  width: 800px;
  height: 2px;
}
.longline h5 {
  justify-content: center;
  align-items: center;
  display: flex;
  color: #181433;
  text-align: center;
  font-family: Manrope;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.32px;
  padding-top: 20px;
}

/* media query */

.rectangle1 {
  width: 100%;
  height: 100vh;
}

/* Media query for small screens */
@media screen and (min-width: 200px) and (max-width: 599px) {
  .rectangle1 {
    width: 100%;
    height: 100vh;
  }
}
@media screen and (max-width: 600px) {
  .rectangle1 {
    width: 100%;
    height: 100vh;
  }
}

/* Media query for medium screens */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .rectangle1 {
    width: 100%;
    height: 100vh;
  }
}

/* Media query for large screens */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .rectangle1 {
    width: 100%;
    height: 100vh;
  }
}

/* Media query for extra-large screens */
@media screen and (min-width: 1441px) {
  .rectangle1 {
    width: 100%;
    height: 100vh;
  }
}
.rectangle2 {
  width: 100%;
}

/* Media query for small screens */
@media screen and (min-width: 200px) and (max-width: 599px) {
  .rectangle2 {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .rectangle2 {
    width: 100%;
  }
}

/* Media query for medium screens */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .rectangle2 {
    width: 100%;
  }
}

/* Media query for large screens */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .rectangle2 {
    width: 100%;
  }
}

/* Media query for extra-large screens */
@media screen and (min-width: 1441px) {
  .rectangle2 {
    width: 100%;
  }
}

.rectangle3 {
  width: 100%;
}

/* Media query for small screens */
@media screen and (min-width: 200px) and (max-width: 599px) {
  .rectangle3 {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .rectangle3 {
    width: 100%;
  }
}

/* Media query for medium screens */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .rectangle3 {
    width: 100%;
  }
}

/* Media query for large screens */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .rectangle3 {
    width: 100%;
  }
}

/* Media query for extra-large screens */
@media screen and (min-width: 1441px) {
  .rectangle3 {
    width: 100%;
  }
}

.rectangle4 {
  width: 100%;
}

/* Media query for small screens */
@media screen and (min-width: 200px) and (max-width: 599px) {
  .rectangle4 {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .rectangle4 {
    width: 100%;
  }
}

/* Media query for medium screens */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .rectangle4 {
    width: 100%;
  }
}

/* Media query for large screens */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .rectangle4 {
    width: 100%;
  }
}

/* Media query for extra-large screens */
@media screen and (min-width: 1441px) {
  .rectangle4 {
    width: 100%;
  }
}

.rectangle5 {
  width: 100%;
}

/* Media query for small screens */
@media screen and (min-width: 200px) and (max-width: 599px) {
  .rectangle5 {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .rectangle5 {
    width: 100%;
  }
}

/* Media query for medium screens */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .rectangle5 {
    width: 100%;
  }
}

/* Media query for large screens */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .rectangle5 {
    width: 100%;
  }
}

/* Media query for extra-large screens */
@media screen and (min-width: 1441px) {
  .rectangle5 {
    width: 100%;
  }
}

.rectangle6 {
  width: 100%;
}

/* Media query for small screens */
@media screen and (min-width: 200px) and (max-width: 599px) {
  .rectangle6 {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .rectangle6 {
    width: 100%;
  }
}

/* Media query for medium screens */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .rectangle6 {
    width: 100%;
  }
}

/* Media query for large screens */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .rectangle6 {
    width: 100%;
  }
}

/* Media query for extra-large screens */
@media screen and (min-width: 1441px) {
  .rectangle6 {
    width: 100%;
  }
}

.footer {
  width: 100%;
}

/* Media query for small screens */
@media screen and (min-width: 200px) and (max-width: 599px) {
  .footer {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .footer {
    width: 100%;
  }
}

/* Media query for medium screens */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .footer {
    width: 100%;
  }
}

/* Media query for large screens */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .footer {
    width: 100%;
  }
}

/* Media query for extra-large screens */
@media screen and (min-width: 1441px) {
  .footer {
    width: 100%;
  }
}
